.o-app {
  text-align: center;

  &__intro {
    font-size: 20px;
  }

  &__searchForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }

  &__searchInput {
    width: 40%;
    min-width: 170px;
  }

  &__searchButton {
    padding: 5px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    width: 80px;
    margin-left: 5px;
    cursor: pointer;

    &:hover {
      background-color: #282c34;
      color: antiquewhite;
    }
  }

  &__flexContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
}
