.m-movie {
  width: 350px;
  border: 1px solid black;
  margin: 5px;
  border-radius: 5px;
  overflow: hidden;

  &__title {
    text-transform: uppercase;
    margin: 0;
    padding: 20px 0;
    background: #ccc;
  }

  &__posterImage {
    width: 100%;
    height: 445px;
  }
}
