$movie-border-color: $black;
$movie-title-back: $silver;

.m-movie {
  width: 350px;
  margin: $xs;

  border: 1px solid $movie-border-color;
  border-radius: $xs;

  overflow: hidden;

  &__title {
    margin: 0;
    padding: $lg 0;

    background: $movie-title-back;

    text-transform: uppercase;
  }

  &__posterImage {
    width: 100%;
    height: 445px;
  }

  &__paragraph {
    margin: $lg 0;
  }
}
