/* MAIN COLORS */
$main-shaft: #1f1f1f;
$white: #fff;
$black: #000;
$alto: #d0d0d0;

/* NAV BUTTON */
$cod-gray: #1d1d1d;

/* HERO */
$dusty-gray: #999;
$silver: #ccc;

/* FASHION BANNER */
$light-grey: rgba(29, 29, 29, .7);
$gallery: #eee;
